
# CVMFS CSI Driver Configuration

# uncomment and set kubeletDirectory for MicroK8s
# kubeletDirectory: /var/snap/microk8s/common/var/lib/kubelet

automountStorageClass:
  create: true

# uncomment the following section to enable MicroK8s support

# nodeplugin:
#   extraVolumes:
#     - name: etc-cvmfs-default-conf
#       configMap:
#         name: cvmfs-csi-default-local
#     - name: etc-cvmfs-config-d
#       configMap:
#         name: cvmfs-csi-config-d
#     # MicroK8s fix
#     - name: kubelet-microk8s
#       hostPath:
#         path: /var/snap/microk8s/common/var/lib/kubelet
#         type: Directory
  
#   # Add to nodeplugin container
#   plugin:
#     extraVolumeMounts:
#       - name: kubelet-microk8s
#         mountPath: /var/snap/microk8s/common/var/lib/kubelet
#         mountPropagation: Bidirectional
  
#   # Add to singlemount container
#   singlemount:
#     extraVolumeMounts:
#       - name: kubelet-microk8s
#         mountPath: /var/snap/microk8s/common/var/lib/kubelet
#         mountPropagation: Bidirectional
  
#   automount:
#     extraVolumeMounts:
#       - name: etc-cvmfs-default-conf
#         mountPath: /etc/cvmfs/default.local
#         subPath: default.local
#       - name: etc-cvmfs-config-d
#         mountPath: /etc/cvmfs/config.d

cache:
  local:
    cvmfsQuotaLimit: 5000
    location: /cvmfs-localcache

extraConfigMaps:
  cvmfs-csi-config-d:
    neurodesk.ardc.edu.au.conf: |
      CVMFS_SERVER_URL="http://cvmfs-geoproximity.neurodesk.org/cvmfs/@fqrn@;http://cvmfs-jetstream.neurodesk.org/cvmfs/@fqrn@;http://s1fnal-cvmfs.openhtc.io/cvmfs/@fqrn@"
      CVMFS_PUBLIC_KEY='/etc/cvmfs/config.d/neurodesk.ardc.edu.au.pub'
    
    neurodesk.ardc.edu.au.pub: |
      -----BEGIN PUBLIC KEY-----
      MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwUPEmxDp217SAtZxaBep
      Bi2TQcLoh5AJ//HSIz68ypjOGFjwExGlHb95Frhu1SpcH5OASbV+jJ60oEBLi3sD
      qA6rGYt9kVi90lWvEjQnhBkPb0uWcp1gNqQAUocybCzHvoiG3fUzAe259CrK09qR
      pX8sZhgK3eHlfx4ycyMiIQeg66AHlgVCJ2fKa6fl1vnh6adJEPULmn6vZnevvUke
      I6U1VcYTKm5dPMrOlY/fGimKlyWvivzVv1laa5TAR2Dt4CfdQncOz+rkXmWjLjkD
      87WMiTgtKybsmMLb2yCGSgLSArlSWhbMA0MaZSzAwE9PJKCCMvTANo5644zc8jBe
      NQIDAQAB
      -----END PUBLIC KEY-----

  cvmfs-csi-default-local:
    default.local: |
      CVMFS_USE_GEOAPI=no
      CVMFS_HTTP_PROXY="DIRECT"
      CVMFS_QUOTA_LIMIT=5000
      CVMFS_CACHE_BASE=/cvmfs-localcache
      CVMFS_TELEMETRY_SEND=ON
      CVMFS_TELEMETRY_RATE=30
      CVMFS_TRACEBUFFER=16384
      CVMFS_TRACEBUFFER_THRESHOLD=12000
      CVMFS_TRACEFILE=/tmp/cvmfs-trace-@fqrn@.log